<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Camalot.Common" version="1.0.5937.17275" targetFramework="net452" />
  <package id="EntityFramework" version="6.0.0" targetFramework="net452" />
  <package id="HttpClient" version="0.5.0" targetFramework="net452" />
  <package id="JsonValue" version="0.5.0" targetFramework="net452" />
  <package id="Managed.Adb" version="2.0.131.13916" targetFramework="net452" />
  <package id="Microsoft.Activities.Extensions" version="2.0.6.9" targetFramework="net452" />
  <package id="Microsoft.Activities.Extensions.Http" version="1.0.2" targetFramework="net452" />
  <package id="Microsoft.Activities.UnitTesting" version="2.0.6.9" targetFramework="net452" />
  <package id="morelinq" version="1.4.0" targetFramework="net452" />
  <package id="NDbUnit.Core" version="1.6.8.0" targetFramework="net452" />
  <package id="NDbUnit.SqlLite" version="1.6.8.0" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="8.0.2" targetFramework="net452" />
  <package id="PhantomJS" version="2.1.1" targetFramework="net452" />
  <package id="phantomjs.exe" version="1.9.2.1" targetFramework="net452" />
  <package id="RestSharp" version="105.2.3" targetFramework="net452" />
  <package id="Selenium.Chrome.WebDriver" version="2.37" targetFramework="net452" />
  <package id="Selenium.Firefox.WebDriver" version="0.18.0" targetFramework="net452" />
  <package id="Selenium.Support" version="3.5.1" targetFramework="net452" />
  <package id="Selenium.WebDriver" version="3.5.1" targetFramework="net452" />
  <package id="Selenium.WebDriver.IEDriver" version="3.5.1" targetFramework="net452" />
  <package id="SharpAdbClient" version="2.1.0" targetFramework="net452" />
  <package id="System.Data.SQLite" version="1.0.105.2" targetFramework="net452" />
  <package id="System.Data.SQLite.Core" version="1.0.105.2" targetFramework="net452" />
  <package id="System.Data.SQLite.EF6" version="1.0.105.2" targetFramework="net452" />
  <package id="System.Data.SQLite.Linq" version="1.0.105.2" targetFramework="net452" />
  <package id="WebApi" version="0.5.0" targetFramework="net452" />
  <package id="WebApi.All" version="0.5.0" targetFramework="net452" />
  <package id="WebApi.Core" version="0.5.0" targetFramework="net452" />
  <package id="WebApi.Enhancements" version="0.5.0" targetFramework="net452" />
  <package id="WebApi.OData" version="0.5.0" targetFramework="net452" />
  <package id="WebDriverIEDriver" version="2.45.0.0" targetFramework="net452" />
</packages>